*.class
run.log
microPhantom.jar
MindSeal.jar
README_Santi.txt
launch_vs_mindseal.sh
.classpath
.project
competitions/202?/*/
src/ai/microPhantom/data_solver
src/ai/microPhantom/solver.log
src/ai/microPhantom/solver_cpp*
problem_model/solver_cpp*
problem_model/solver_test*
problem_model/src/solver
*.o
*~
.DS_Store
